.pos .category-simple-button {
    font-size: 15px;
    padding: 5px 20px;
    line-height: 35px;
    width: 200px;
}

/* Move to new module in future */

.pos .paypad {
    max-height: 520px;
}

.pos .paypad button {
    height: 25px;
    font-size: 12px;
}


.pos .screen .footer-row {
    border:none;
    width:100%;
    height:0px;
}

.pos .screen .footer-cell{
    border:none;
    width:100%;
    height:0px;
}

.pos .category-list-shortcut {
    text-align: left;
    padding: 10px;
    background: rgb(229, 229, 229);
    border-bottom: 1px solid #cecece;
}
