.pos .order .summary .line .subentry {
	text-align: right;
}

.discount {
	margin: 3px 0 3px 0;
	font-size: 16px;
}

.discount-card-options {
	padding:5px;
}

.discount-card {
	display: none;
}

.discount-card-order {
	margin: 1px 18px 1px 18px;
	position: relative;
	padding: 8px;
	border-box: 3px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-radius: 3px;
	background: rgb(245,240,220);
}

.discount-card-label {
  font-weight: bold;
}

.discount-card-select {
  width: 100%;
  margin-top : 8px;
  font-size: 20px;
  font-family: Lato;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  border: none;
  padding: 6px 8px;
  background: white;
  color: #989898;
  text-align: left;
  border-radius: 3px;
  box-shadow: 0px 2px rgba(143, 143, 143, 0.3) inset;
}

.discount-card-select-order {
  width: 100%;
  margin-top : 8px;
  font-size: 20px;
  font-family: Lato;
  display: block;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  border: none;
  padding: 6px 8px;
  background: white;
  color: #989898;
  text-align: left;
  border-radius: 3px;
  box-shadow: 0px 2px rgba(143, 143, 143, 0.3) inset;
}

